* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

/* Header in fixed e space between */

header {
    width: 100%;
}

.top-bar {
    background-color: white;
    width: 100%;
    padding: 30px 20px 28px;
    position: fixed;
    z-index: 1;
}

.content-top {
    justify-content: space-between;
}

.content,
.content-top {
    display: flex;
}

.content-top ul li{
    padding: 0 20px;
}

.menu > ul {
    display: flex;
}

/* Main impostazioni ed elementi */

.highlight {
    width: 100%;
    background-color: rgb(171, 202, 227);
    height: 700px;
    padding-top: 84px;
}

.jumbotron {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 700px;
    padding: 50px 0 0;
}

.jumbotron-title {
    width: 100%;
    font-size: 60px;
    padding-bottom: 25px;
}

.jumbotron-content,
.jumbotron-text {
    width: 100%;
    display: flex;
}

.text p,
.text i {
    padding-bottom: 50px;
}

.jumbotron-image {
    width: 65%;
}

.center {
    width: 100%;
    max-width: 900px;
    margin: 160px auto 80px auto;
}

h2 {
    font-size: 45px;
    padding-bottom: 30px;
}

.column-plan{
    margin-top: 50px;
}

.column {
    border: 1px solid lightgray;
}

.column-single,
.column-team,
.column-company {
    border-top: 1px solid lightgray;
    padding: 10px;
}

.contact{
    margin: 40px 0 40px 0;
}

.menu.contact{
    border: 1px solid lightgray;
    padding: 10px;
}

.contact-text{
    width: 60%;
}

.contact-link {
    width: 40%;
    text-align: right;
}

.partner {
    width: 70%;
}

.box-text {
    width: 30%;
    padding: 20px;
}

/* Footer impostazioni ed elementi */

footer {
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.content-bottom {
    margin: 0 auto;
    padding: 50px 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.content-bottom > nav ul{
    flex-direction: column;
}

.menu.info {
    padding: 10px;
    color: white;
    line-height: 30px;
}

.content-bottom-language{
    margin: 0 auto;
    padding: 50px 0;
    width: 100%;
    max-width: 1200px;
}

#choose-language {
    color: rgb(142, 142, 142);
    padding: 50px 0;
    border-top: 2px solid white;
}
